# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
build/
dist/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
htmlcov/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive files
.env

# Optional: ignore trained model binaries (uncomment if you prefer not to push large models)
#model/*.joblib
#model/*.pkl